{% extends "base.html" %}
{% load static %}

{% block title %}All my posts{% endblock %}


{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/post.css'%}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css'%}">
{% endblock %}

{% block content %}
<section id="all-posts">
    <h2>Post below:</h2>
    <ul>
        {% for sssingle_post in html_all_posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
        
    </ul>
</section>
{% endblock %}