{% extends "base.html" %}
{% load static %}

{% block title %}{{ html_post.title }}{% endblock %}


{% block css_file %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css'%}">
{% endblock %}

{% block content %}
    <!-- Error to fix message -->
    {% if html_comment_form.errors %}
        <div id="alert">
            <h2>Saving the comment failed!</h2>
            <p>Please check the comment form below the post and fix your errors.</p>
            <a href="#comment-form">Fix!</a>
        </div>
    {% endif %}
    <!-- End error section -->

    <!-- Post title info -->
    <section id="summary">
        <h2>{{ html_post.title }}</h2>
        <!-- tags -->
        <div>
            {% for one_tag in html_tags_for_post %}
                <span class="tag">{{one_tag.caption}}</span>
            {% endfor %}
        </div>
        <!-- End tags -->
        <!-- Read later -->
        <form action="{% url 'rr-read-later' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="rrpost_id" value="{{ html_post.id }}">
            <div id="read-later">
                <button>
                    {% if html_is_saved_later %}
                        Remove from "Read Later" list
                    {% else %}
                        Read Later
                    {% endif %}
                </button>
            </div>
        </form>
        <!-- End Read later -->
        <article>
            <img src="{{ html_post.pimage.url }}" alt="{{ html_post.title }}">
            <address>By <a href="mailto:{{ html_post.author.email }}">{{ html_post.author|title }}</a></address>
            <div>
                Last updated on <time>{{ html_post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>
    <!-- End Post title info  -->
    <!-- Post text -->
    <main>
        {{ html_post.content|linebreaks}}
    </main>
    <!-- End Post text -->
    <!-- Comments from database -->
    <section id="comments">
        <ul>
            {% for single_comment in html_comments %}
                <li>
                    <h2>{{ single_comment.user_name }}</h2>
                    <p>{{ single_comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
    <!-- End Comments from database -->

    <!-- Create a new Comment via Form -->
    <section id="comment-form">
        <h2>Your Comment</h2>
        <form action="{% url 'single-post-page' aslug=html_post.slug %}" method="POST">
            {% csrf_token %}
            {% for form_field in html_comment_form %}
                <div class="form-control {% if form_field.errors %} invalid {% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button> Save Comment</button>
        </form>
    </section>
    <!-- End form to create a comment -->
{% endblock %}